/* ...
*= require_self
*= require normalize
*= require peek
*= require peek/views/performance_bar
*= require peek/views/rblineprof
*= require responsive/main
*= require jquery.ui.datepicker
*= require jquery.ui.tabs
*/

#peek {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
